body {
    background-color: rgb(34, 34, 34);
    margin: 0;
}
div#headDiv {
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: calc(100vh * 0.06);
    box-shadow: 0px 1px rgb(65, 65, 65);
    display: flex;
}
h1#headDivTitle {
    font-family: consolas;
    color: white;
    font-size: calc(100vh * 0.04);
    cursor: default;
    margin-left: calc(100vh * 0.03);
    display: flex;
    align-items: center;
}
img#headDivImage {
    width: calc(100vh * 0.05);
    height: calc(100vh * 0.05);
    margin-left: calc(100vh * 0.025);
    margin-top: auto;
    margin-bottom: auto;
}
div#mainDiv {
    margin: 2%;
    height: calc(100vh - (100vh * 0.06));
    width: 96%;
    background-color: rgb(46, 46, 46)
}



div#musicPlayerDiv {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 48px;
    left: 10px;
	transition: 500ms linear;
}
img#playerIcon {
    float: left;
    margin: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
h6#beatsArtist {
    margin: 5px;
    height: 26px;
    color: lightslategray;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
    font-weight: 550;
    font-size: 14px;
    cursor: default;
}
div#playButton {
    width: 20px;
    height: 20px;
    background-image: url("playIcon.png");
    background-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.beatsVolume {
    appearance: slider-vertical;
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 10px;
    height: 92px;
}
.beatsTimeline {
    position: absolute;
    bottom: 5px;
    width: 100px;
    right: 21px;
    height: 10px;
}



div#bgSource {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 8px;
}
div#linkImg {
    background-image: url("linkIcon.png");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 6px;
}
div#link {
    color: lightslategray;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: 550;
    font-size: 13px;
    float: right;
    cursor: default;
}
