body {
    background-color:rgb(2, 15, 35);
    background-image: url("images/hexagon.png");
    background-repeat: repeat;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
}

.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}