html {
    height: 100%;
}
body {
    background-image: url("highs.png"), url("leaves.jpg");
    background-repeat: no-repeat;
    background-position-x: right, center;
    background-size: 250px, cover;
    background-color: rgba(35, 20, 240, 0.35);
    background-blend-mode: normal, multiply;
    margin: 0;
}
img#logo {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}
div#mainDiv {
    display: block;
    margin: 10px;
}



div#musicPlayerDiv {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 48px;
    left: 10px;
    cursor: pointer;
    background-image: url("musicIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;


	transition:300ms linear;
}




div#bgSource {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 8px;
}
div#linkImg {
    background-image: url("linkIcon.png");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 6px;
}
div#link {
    color: lightslategray;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: 550;
    font-size: 13px;
    float: right;
    cursor: default;
}